.authorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%; //container loses width when position absolute is applied
  min-height: 100%;
  text-align: center;
  background-color: white;
  
  @include tabletPlus {
    left: 15%;
    width: 60%;
    box-shadow: $rightShadow;
    
    &:before,
    &:after {
      display: block;
      position: fixed;
      top: 0;
      height: 100%;
      content: '';
      background: {
        image: url('pics/winter.jpg');
        size: cover;
      }
    }
    
    &:before {
      left: 0;
      width: 15%;
      z-index: 1;
      background-position: left;
      box-shadow: $rightShadow;
    }
    
    &:after {
      right: 0;
      width: 25%;
      z-index: -1;
      background-position: right;
    }
  }
  
  &__cookies {
    max-width: 500px;
    color: $mainFontCol;
    line-height: $lineH;
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: $mainColor;
    border-radius: $borderRadius;
  }
  
  &__input {
    width: 90%;
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid $secondaryColor;
    
    &:first-child {
      margin-top: 2rem;
    }
  }
  
  &__switch,
  &__button {
    width: 100px;
    margin: 1rem 0.5rem;
    
    &:hover {
      background-color: white;
    }
  }
  
  &__switch {
    
    &--active {
      color: $mainFontCol;
      border: 2px solid $mainFontCol;
      background-color: $mainColor;
    }
    
    &:active,
    &:focus {
      color: $mainFontCol;
    }
  }
  
  &__val-errors {
    display: inline-block;
    font-size: 0.9rem;
    line-height: $lineH;
    text-align: left;
    color: $mainFontCol;
    padding: 0.75rem;
    background-color: $mainColor;
    border-radius: $borderRadius;
    
    @include tabletPlus {
      font-size: 0.7rem;
    }
  }
}
