.blog-list {
    position: absolute;
    top: 40vw;
    left: 0;
    right: 0;
    padding: 0;
    color: $mainFontCol;
    line-height: $lineH;
    background-color: $mainColor;
    box-shadow: $shadow;
    transform: translateZ(0px);
    
    &__item {
        text-align: center;
        padding: 2em 0.5em;
        
        //line separating list items
        &:after {
            position: absolute;
            bottom: 0;
            transform: translateX(-50%);
            width: 50%;
            content: '';
            border-top: 1px solid $secondaryColor;
        }
        
        &__date {
            
        }
        
        &__title {
            
        }
        
        &__snippet {
            text-align: justify;
        }
    }
    
    &__controls {
        position: absolute;
        width: 30px;
    }
    
    &__single-button {
        margin: 5px;
    }
    
    &--no-image {
        top: 50px;
    }
}