.blog-list {
    position: absolute;
    top: 40vw;
    left: 0;
    right: 0;
    padding: 0;
    color: $mainFontCol;
    line-height: $lineH;
    background-color: $mainColor;
    box-shadow: $shadow;
    transform: translateZ(0px);
    
    &__item {
        padding: 2em 0.5em;
        
        //line separating list items
        &:after {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 50%;
            content: '';
            border-top: 1px solid $secondaryColor;
        }
        
        &__date {
            text-align: center;
            font-size: 0.6em;
        }
        
        &__title {
            font-size: 1.4em;
            max-width: 90%;
        }
        
        &__snippet {
            text-align: justify;
        }
        
        &__button {
            margin: 2.5em 0 0.5em 0;
        }
    }
    
    &__controls {
        right: 0;
        top: 0;
        width: 95px;
        margin: 2em 0.5em;
    }
    
    &__single-button {
        display: inline-block;
        margin: 0 5px;
    }
    
    &--no-image {
        top: 50px;
        box-shadow: none;
    }
    
    .nav>li>a {
        display: table;
        margin: 0 auto;
    }
}