@import 'options';
@import 'loadingPacman';
@import 'menu';
@import 'jumbotron';
@import 'postview';

@keyframes show-controls {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

body {
    background: $bkgCol;
}

.row-center {
    text-align: center;
    .col-centered {
        float: none;
        display: inline-block;
    }
}

.preserve3d {
    .parallax {
        position: relative;
        top:0;
        perspective: 1px;
        perspective-origin: 50% 25vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;

        &--null {
            transform: translateZ(0);
        }
    }
    
    .jumbotron {
        transform: translateZ(-1px) scale(2);
        z-index: -1;
    }
}

.active {
    background-color: green;
}

.blog-list {
    position: absolute;
    top: 50vw;
    left: 0;
    right: 0;
    padding: 0;
    box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.5);
    transform: translateZ(0px);
    
    &__item {
        text-align: center;
    }
    
    &__controls {
        visibility: hidden;
        position: absolute;
        width: 30px;
    }
    
    &__single-button {
        margin: 5px;
    }
}

.show-controls {
    animation: show-controls 1s forwards;
}

.hide-controls {
    animation: show-controls 1s reverse forwards;
}

.btn {
    border-radius: 0;
    background-color: $titleBkgCol;
    color: white;
}