.jumbotron {
    position: relative;
    width: 100vw;
    height: 50vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        
        &__controls {
            position: absolute;
            right: 5%;
            bottom: 5%;
            width: 220px;
        }
        
        &__single-button {
            display: inline-block;
            width: 100px;
            margin: 0 5px;
        }
    }
    
    form {
        display: inline-block;
        width: 110px;
    }
    
    input {
        position: absolute;
        z-index: -1;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
    }
}