//main background
$mainColor: #f5f4f0;

//title, menu buttons
$secondaryColor: rgba(2,0,15,0.85);

//post text, button text on hover
$mainFontCol: rgba(2,0,15,0.85);

//button text, menu text
$secFontCol: #f5f4f0;

$errorBkgCol: #e2747d;
$errorFontCol: white;

$fontFamily: Open-Sans, sans-serif;

$borderRadius: 0.25rem;

//shadow falling at the bottom of jumbotron
$shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.5);

//line-height
$lineH: 1.5;

$postViewDateHeight: 1.4rem;
$postViewDateWidth: 12rem;

@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin tabletPlus {
    @media screen and (min-width: 768px) {
        @content;
    }
}