//main background
$mainColor: white;

//title, menu buttons
$secondaryColor: rgba(0,0,0,0.85);

//post text, button text on hover
$mainFontCol: rgba(0,0,0,0.85);

//button text, menu text
$secFontCol: white;

$fontFamily: Open-Sans, sans-serif;