.postview {
    position: relative;
    width: 100%;
    background-color: $mainColor;
    
    &__date {
        display: inline-block;
        position: absolute;
        top: -0.5em;
        width: 30%;
        paadding: 0.25em;
        font-size: 1em;
        line-height: 1.5em;
        font-weight: 400;
        text-transform: uppercase;
        color: $secFontCol;
        background-color: $secondaryColor;
    }
    
    &__title {
        font-size: 3em;
        line-height: 4.5em;
        font-weight: 700;
        
        &__wrapper {
            position: absolute;
            bottom: 100%;
            text-align: center;
            color: $secFontCol;
            background-color: $secondaryColor;
            
            &--no-image {
                position: relative;
                bottom: auto;
                margin-top: 10%;
            }
        }
    }
    
    &__body{
        text-align: left;
    }
}